.العنوان{text-align: center;color: rgb(252, 60, 60);font-size: 35px;background-color:yellow;margin: 1px; }
.التعريف{text-align: left;color:white;background-color: red;margin: 0px;}
a{margin-left: 175px;}
p{font-size: 20px;display: inline;color: white;}
img{display: inline;width: 100%;max-width: 120px;;max-height: 135px;}
body{background-color:black;}
h2{font-size: 30px;background-color: red;margin: 0px;}
.q111{height: 100px;}
